In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly
import plotly.express as px

import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", None)

plotly.__version__

'5.14.1'

## 1. Data Populasi dan Nasional

In [5]:
data_pop = pd.read_csv("raw_data/data_penduduk/population_worldwide.csv")
data_growth_pop = pd.read_csv("raw_data/data_penduduk/growth_population.csv").iloc[:, :-1]
top_5_pop = pd.read_excel("raw_data/data_penduduk/indonesia-masuk-5-besar-jumlah-penduduk-terbanyak-di-g20.xlsx")
indo_stats = pd.read_csv("raw_data/data_penduduk/statistik_indo.csv")

In [6]:
tr_indo_stats = indo_stats.iloc[:, 2:-1].T.drop(["Indicator Name", "Indicator Code"]).iloc[40:, :]
tr_indo_stats.columns = indo_stats["Indicator Name"].values
tr_indo_stats = tr_indo_stats.reset_index()

In [7]:
def transform_pop_data(df: pd.DataFrame, countries: str, value_col_name):
    new_df = pd.DataFrame()
    for country in countries:
        population_df = df[df["Country Name"] == country].iloc[:, 4:]
        reformed_pop = {"negara":[country for _ in population_df.columns],
                        "tahun":[tahun for tahun in population_df.columns], 
                        value_col_name:[population_df[tahun].values[0] for tahun in population_df.columns]}
        new_df = pd.concat([new_df, pd.DataFrame(reformed_pop)])
    return new_df

In [8]:
indo_population = transform_pop_data(data_pop, countries=["Indonesia"], value_col_name="total_penduduk").iloc[40:, :].reset_index(drop=True)

data_nasional = pd.merge(indo_population, tr_indo_stats, left_on="tahun", right_on="index").drop(["index"], axis=1)
data_nasional = data_nasional.dropna(axis=1)

# for col in data_nasional.columns:
#     data_nasional[col] = data_nasional[col].astype(float)
lst_2022 = ["Indonesia", "2022", 275361267.0] + [np.nan for _ in range(len(data_nasional.columns)-3)]
data_nasional.loc[len(data_nasional)] = lst_2022
data_nasional

,negara,tahun,total_penduduk,Perdagangan barang (% dari PDB),"Populasi, total",Pertumbuhan populasi (% tahunan),"Tingkat kesuburan, total (kelahiran per wanita).","Harapan hidup saat lahir, total (tahun)","Angka kematian, bayi (per 1.000 kelahiran hidup)",Migrasi bersih,"Pengangguran, total (% dari angkatan kerja total)",Rasio jumlah masyarakat miskin pada garis kemiskinan nasional (% dari populasi),Indeks GINI,"Rasio jumlah masyarakat miskin pada $1,90 per hari (PPP) (% dari populasi)",Distribusi inkam yang dipegang oleh 20% terendah,"Imunisasi, campak (% dari anak usia 12-23 bulan)","Angka kematian, balita (per 1.000 kelahiran hidup)","Prevalensi HIV, total (% dari populasi usia 15-49)","INB per kapita, PPP (mata uang $ internasional)","INB per kapita, metode Atlas (mata uang US$)","INB, PPP (mata uang $ internasional)","INB, metode Atlas (mata uang US$)","PDB per kapita, PPP (mata uang $ internasional)",PDB per kapita (mata uang US$),Pertumbuhan PDB (% tahunan),PDB (mata uang US$),"Inflasi, deflator PDB (% tahunan)","Industri, nilai tambah (% dari PDB)","Pertanian, nilai tambah (% dari PDB)",Impor barang dan jasa (% dari PDB),Formasi modal bruto (% dari PDB),Ekspor barang dan jasa (% dari PDB),Pengeluaran militer (% dari PDB),Langganan telepon seluler (per 100 orang),"Inflasi, harga konsumen (% tahunan)","Jasa utang total (% dari ekspor barang, jasa dan pendapatan utama)",Bantuan pembangunan resmi bersih yang diterima (mata uang US$),"Stok utang luar negeri, total (DOD, mata uang US$)","Penarikan pribadi, diterima (mata uang US$)","Investasi langsung asing, arus masuk bersih (BoP, mata uang US$)"
0,Indonesia,2000,214072421.0,66.050983,214072421.0,1.447088,2.536,66.433,41.0,-42697.0,6.08,19.1,29.5,43.6,9.4,76.0,52.2,0.1,4370.0,570.0,935805000000.0,122450000000.0,4681.91945,770.865352,4.920068,165021000000.0,20.447457,41.969075,15.678704,30.459567,22.245697,40.977308,0.684484,1.714059,3.688619,22.847663,1645430054.0,144049000000.0,1190200000.0,-4550355286.0
1,Indonesia,2001,217112437.0,59.14416,217112437.0,1.410099,2.497,66.758,39.4,-64261.0,6.08,18.4,30.0,39.9,9.4,76.0,49.9,0.1,4710.0,710.0,1022800000000.0,154215000000.0,4892.352515,739.003946,3.643466,160447000000.0,14.295715,47.893501,15.994918,30.761068,22.539266,39.032139,0.572793,3.003488,11.500115,23.958043,1458180054.0,132710000000.0,1046000000.0,-2977391857.0
2,Indonesia,2002,220115092.0,49.834251,220115092.0,1.373519,2.456,67.134,37.8,-83985.0,6.6,18.2,32.8,26.8,8.8,72.0,47.6,0.1,4970.0,780.0,1093550000000.0,172499000000.0,5121.33454,888.90139,4.499475,195661000000.0,5.896052,47.745331,16.319669,26.391841,21.40407,32.687621,0.70012,5.315401,11.900118,25.22533,1296010010.0,128444000000.0,1258917563.0,145085548.7
3,Indonesia,2003,223080121.0,45.279586,223080121.0,1.338044,2.428,67.413,36.4,-97733.0,6.66,17.4,33.0,26.4,8.6,74.0,45.5,0.1,5190.0,890.0,1158180000000.0,198234000000.0,5399.32871,1052.413199,4.780369,234772000000.0,5.487429,43.749566,15.185348,23.138839,25.598498,30.477655,0.909285,8.290856,6.757317,26.323747,1738630005.0,134373000000.0,1488709351.0,-596923827.8
4,Indonesia,2004,225938595.0,48.919767,225938595.0,1.273226,2.418,65.75,37.1,-102669.0,7.3,16.7,33.9,27.0,8.2,76.0,49.6,0.1,5490.0,1070.0,1239430000000.0,241393000000.0,5749.521451,1136.755211,5.030874,256837000000.0,8.550727,44.627616,14.33578,27.5446,24.056366,32.216695,0.945715,13.426926,6.06406,25.467404,97559997.56,138042000000.0,1866314990.0,1896082770.0
5,Indonesia,2005,228805144.0,56.921603,228805144.0,1.260748,2.433,67.649,33.6,-102380.0,7.94,16.0,34.1,24.6,8.2,77.0,41.7,0.2,5890.0,1210.0,1347140000000.0,276759000000.0,6188.855532,1249.397689,5.692571,285869000000.0,14.331787,46.541059,13.126619,29.920668,25.08141,34.067268,0.750789,20.502149,10.453198,20.906217,2489000000.0,142132000000.0,5419620729.0,8336257208.0
6,Indonesia,2006,231797427.0,50.518896,231797427.0,1.299309,2.453,67.914,32.4,-101108.0,7.55,17.8,35.3,30.6,7.9,79.0,39.9,0.2,6360.0,1360.0,1474420000000.0,315565000000.0,6643.880722,1572.797934,5.500952,364571000000.0,14.087424,46.943559,12.973803,25.622411,25.400217,31.034716,0.658703,27.525334,13.108672,25.74919,1229969971.0,135970000000.0,5722357517.0,4914201435.0
7,Indonesia,2007,234858289.0,48.844476,234858289.0,1.311848,2.491,68.189,31.2,-103121.0,8.06,16.6,36.7,25.2,7.6,76.0,38.3,0.2,6870.0,1580.0,1612840000000.0,371909000000.0,7161.810728,1840.329927,6.345022,432217000000.0,11.258579,46.799142,13.716683,25.393531,24.920284,29.435718,0.712362,39.763076,6.406563,19.057119,737039978.0,147827000000.0,6174340000.0,6928480000.0
8,Indonesia,2008,237936543.0,52.357704,237936543.0,1.302171,2.479,68.226,30.1,-108492.0,7.21,15.4,36.1,24.7,7.7,76.0,36.7,0.2,7370.0,1920.0,1752780000000.0,457090000000.0,7638.009575,2144.389544,6.013704,510229000000.0,18.149751,48.060745,14.48174,28.753115,27.816245,29.808284,0.578946,59.082241,10.226665,14.483592,1145670044.0,157916000000.0,6794200933.0,9318453650.0
9,Indonesia,2009,240981299.0,39.555203,240981299.0,1.271532,2.459,68.494,29.0,-98211.0,6.11,14.1,36.0,21.0,7.8,74.0,35.3,0.3,7660.0,2130.0,1846690000000.0,512966000000.0,7941.166333,2239.095265,4.628871,539580000000.0,8.274752,47.652123,15.290148,21.353002,30.985192,24.15912,0.571134,67.921022,4.386416,19.566876,902690002.4,179405000000.0,6792907280.0,4877369178.0
10,Indonesia,2010,244016173.0,38.861643,244016173.0,1.251517,2.452,68.679,27.9,-77010.0,5.61,13.3,37.2,18.3,7.4,78.0,33.9,0.3,8210.0,2510.0,2002430000000.0,612254000000.0,8430.615417,3094.44309,6.223854,755094000000.0,15.264294,42.775866,13.929213,22.402243,32.880121,24.299031,0.617587,86.588619,5.134204,18.727544,1323760010.0,198278000000.0,6916051073.0,15292009411.0
11,Indonesia,2011,247099697.0,42.659147,247099697.0,1.255738,2.499,68.823,26.9,-54051.0,5.15,12.5,40.5,15.7,6.9,80.0,32.5,0.3,8770.0,2990.0,2167770000000.0,737717000000.0,9022.72138,3613.800902,6.169784,892969000000.0,7.465943,43.913423,13.512287,23.85266,32.984333,26.327353,0.653777,101.095073,5.356048,14.413999,358109985.4,219629000000.0,6923970511.0,20564938227.0
12,Indonesia,2012,250222695.0,41.58792,250222695.0,1.255941,2.49,68.973,25.9,-38499.0,4.47,12.0,40.5,13.7,7.0,82.0,31.2,0.3,9370.0,3550.0,2345310000000.0,889279000000.0,9645.149197,3668.21207,6.030051,917870000000.0,3.753879,43.593744,13.373974,24.98852,35.071594,24.594379,0.711549,112.685088,4.2795,17.430033,69010002.14,252623000000.0,7212196578.0,21200778608.0
13,Indonesia,2013,253275918.0,40.457122,253275918.0,1.212818,2.427,69.264,25.0,-36670.0,4.34,11.4,40.8,11.2,7.0,87.0,30.0,0.3,9710.0,3710.0,2459270000000.0,939755000000.0,10009.0107,3602.885517,5.557264,912524000000.0,4.96599,42.635677,13.356699,24.713796,33.831357,23.923576,0.91877,123.670231,6.412513,19.965241,69470001.22,263644000000.0,7614419340.0,23281742362.0
14,Indonesia,2014,256229761.0,39.791887,256229761.0,1.159507,2.389,69.533,24.1,-37324.0,4.05,11.3,40.2,9.3,7.0,86.0,28.8,0.3,9890.0,3600.0,2534330000000.0,922996000000.0,10233.98527,3476.624853,5.006668,890815000000.0,5.443175,41.928342,13.336755,24.414191,34.600344,23.665985,0.777855,127.066745,6.394925,29.917391,-381940002.4,292565000000.0,8551164469.0,25120732060.0
15,Indonesia,2015,259091970.0,34.043046,259091970.0,1.110855,2.345,69.699,23.2,-37991.0,4.51,11.2,40.4,8.3,6.9,87.0,27.7,0.4,9880.0,3420.0,2559880000000.0,886547000000.0,10219.17641,3322.581688,4.876322,860854000000.0,3.980243,40.047862,13.492644,20.777461,34.062792,21.160179,0.882267,130.821631,6.363121,34.6062,-28459999.08,307749000000.0,9659168639.0,19779127977.0
16,Indonesia,2016,261850182.0,30.062217,261850182.0,1.058942,2.309,69.798,22.4,-38653.0,4.3,10.9,39.3,7.5,6.8,88.0,26.6,0.4,10150.0,3400.0,2657030000000.0,890494000000.0,10482.699,3558.818852,5.033069,931877000000.0,2.438924,39.308444,13.478749,18.332348,33.858739,19.088994,0.79222,147.24962,3.525805,37.478575,-108279998.8,318942000000.0,8906655811.0,4541713739.0
17,Indonesia,2017,264498852.0,32.072665,264498852.0,1.00644,2.262,69.936,21.6,-39282.0,3.78,10.6,38.8,6.6,6.7,90.0,25.6,0.4,10600.0,3530.0,2802420000000.0,934208000000.0,10941.92095,3839.785069,5.069786,1015620000000.0,4.292678,39.379155,13.156631,19.178193,33.710595,20.177304,0.865191,164.535158,3.808798,29.435087,280190002.4,353564000000.0,8989529971.0,20510310832.0
18,Indonesia,2018,267066843.0,35.387324,267066843.0,0.966206,2.234,70.338,20.8,-39878.0,4.39,9.8,38.4,5.4,6.8,89.0,24.6,0.4,11320.0,3850.0,3023720000000.0,1028160000000.0,11669.71728,3902.661668,5.174292,1042270000000.0,3.818324,39.729737,12.808498,22.071562,34.570586,21.002747,0.71895,119.608485,3.198346,25.072428,962690002.4,379589000000.0,11215344812.0,18909826044.0
19,Indonesia,2019,269582878.0,30.288539,269582878.0,0.937689,2.215,70.518,20.1,-40567.0,3.59,9.4,37.6,4.4,7.1,88.0,23.8,0.4,11980.0,4070.0,3230290000000.0,1096630000000.0,12358.24225,4151.227543,5.019288,1119100000000.0,1.598488,38.951768,12.712603,19.03625,33.780142,18.591528,0.728505,126.594668,3.030587,39.41268,-693369995.1,402106000000.0,11666395059.0,24993551748.0
20,Indonesia,2020,271857970.0,28.802417,271857970.0,0.840389,2.194,68.808,19.5,-24999.0,4.25,9.8,37.6,3.8,7.1,76.0,22.9,0.4,11820.0,3900.0,3213900000000.0,1059880000000.0,12146.40679,3894.272202,-2.065005,1058690000000.0,-0.436578,38.251605,13.702466,15.704174,32.354591,17.271421,0.859789,130.811095,1.920968,36.701439,1209829956.0,417046000000.0,9650926142.0,19175077748.0
21,Indonesia,2021,273753191.0,36.05923,273753191.0,0.694718,2.175,67.57,18.9,-14992.0,3.83,10.1,37.9,3.5,7.0,72.0,22.2,0.3,12680.0,4180.0,3471170000000.0,1143080000000.0,13027.30061,4332.709281,3.69124,1186090000000.0,6.015274,39.858797,13.280683,18.861957,31.459921,21.560811,0.695926,133.650536,1.56013,28.784054,612380004.9,416471000000.0,9402427089.0,21213080330.0
22,Indonesia,2022,275361267.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
rank_pop = transform_pop_data(data_pop, countries=["Indonesia", "Pakistan", "United States", "China", "India"], value_col_name="total_penduduk")
growth_pop = transform_pop_data(data_growth_pop, countries=["Indonesia", "Pakistan", "United States", "China", "India"], value_col_name="pertumbuhan_penduduk").dropna()

rank_pop_21 = rank_pop[rank_pop["tahun"] == "2021"].reset_index(drop=True)
rank_pop_21

       negara tahun  total_penduduk
0   Indonesia  1960    8.838288e+07
1   Indonesia  1961    9.081694e+07
2   Indonesia  1962    9.334549e+07
3   Indonesia  1963    9.596253e+07
4   Indonesia  1964    9.867506e+07
..        ...   ...             ...
57      India  2017    1.354196e+09
58      India  2018    1.369003e+09
59      India  2019    1.383112e+09
60      India  2020    1.396387e+09
61      India  2021    1.407564e+09

[310 rows x 3 columns]

In [70]:
data_nasional.to_csv("preprocessed_data/data_nasional.csv", index=False)
rank_pop_21.to_csv("preprocessed_data/peringkat_total_penduduk_dunia.csv", index=False)
growth_pop.to_csv("preprocessed_data/data_pertumbuhan_penduduk.csv", index=False)

## 2. Data Distribusi Umur Nasional

In [13]:
data_umur_0910 = pd.read_excel("raw_data\data_umur\Jumlah Penduduk Usia 15 tahun ke Atas Menurut Golongan Umur 2009-2010.xlsx")
data_umur_1112 = pd.read_excel("raw_data\data_umur\Jumlah Penduduk Usia 15 tahun ke Atas Menurut Golongan Umur 2011-2012.xlsx")
data_umur_1314 = pd.read_excel("raw_data\data_umur\Jumlah Penduduk Usia 15 tahun ke Atas Menurut Golongan Umur 2013-2014.xlsx")
data_umur_1516 = pd.read_excel("raw_data\data_umur\Jumlah Penduduk Usia 15 tahun ke Atas Menurut Golongan Umur 2015-2016.xlsx")
data_umur_1718 = pd.read_excel("raw_data\data_umur\Jumlah Penduduk Usia 15 tahun ke Atas Menurut Golongan Umur 2017-2018.xlsx")
data_umur_1920 = pd.read_excel("raw_data\data_umur\Jumlah Penduduk Usia 15 tahun ke Atas Menurut Golongan Umur 2019-2020.xlsx")
data_umur_2122 = pd.read_excel("raw_data\data_umur\Jumlah Penduduk Usia 15 tahun ke Atas Menurut Golongan Umur 2021-2022.xlsx")

used_df = [data_umur_0910, data_umur_1112, data_umur_1314, data_umur_1516, data_umur_1718, data_umur_1920, data_umur_2122]

In [14]:
start_year = 2009
dict_umur = {"tahun":[i for i in range(start_year, 2023)], "usia_dibawah_15":[], "usia_produktif":[], "usia_diatas_60":[]}

for df in used_df:
    print(start_year)
    dict_umur["usia_dibawah_15"].append(data_nasional[data_nasional["tahun"] == str(start_year)]["total_penduduk"].values[0] - int(df.iloc[-1, 1]))
    start_year += 1
    dict_umur["usia_dibawah_15"].append(data_nasional[data_nasional["tahun"] == str(start_year)]["total_penduduk"].values[0] - int(df.iloc[-1, 4]))
    start_year += 1

    dict_umur["usia_produktif"].append(sum(df.iloc[2:-2, 1].astype(int).values))
    dict_umur["usia_produktif"].append(sum(df.iloc[2:-2, 4].astype(int).values))

    dict_umur["usia_diatas_60"].append(int(df.iloc[-2, 1]))
    dict_umur["usia_diatas_60"].append(int(df.iloc[-2, 4]))

2009
2011
2013
2015
2017
2019
2021

In [15]:
df_umur = pd.DataFrame(dict_umur)
df_umur["total"] = df_umur["usia_dibawah_15"] + df_umur["usia_produktif"] + df_umur["usia_diatas_60"]
df_umur["dependency_ratio"] = (df_umur["usia_dibawah_15"] + (df_umur["usia_diatas_60"] * 0.6)) / df_umur["usia_produktif"]
df_umur

,tahun,usia_dibawah_15,usia_produktif,usia_diatas_60,total,dependency_ratio
0,2009,72716851.0,149927770,18336678,240981299.0,0.558395
1,2010,72998757.0,152898198,18119218,244016173.0,0.548537
2,2011,75092288.0,153813867,18193542,247099697.0,0.559172
3,2012,75157466.0,156287326,18777903,250222695.0,0.552983
4,2013,75145448.0,158704166,19426304,253275918.0,0.546937
5,2014,75059789.0,161020492,20149480,256229761.0,0.541232
6,2015,74492355.0,163215897,21383718,259091970.0,0.535013
7,2016,74249548.0,165289327,22311307,261850182.0,0.530200
8,2017,73910934.0,167277723,23310195,264498852.0,0.525456
9,2018,70128105.0,171018759,25919979,267066843.0,0.500998
10,2019,69797683.0,172689306,27095889,269582878.0,0.498324
11,2020,69260907.0,174290338,28306725,271857970.0,0.494835
12,2021,68392755.0,175788308,29572128,273753191.0,0.489999
13,2022,66817181.0,179378625,29165461,275361267.0,0.470047

In [198]:
# dict_umur = {"tahun":[2018, 2019, 2020, 2021, 2022], "usia_dibawah_15":[], "usia_produktif":[], "usia_diatas_60":[]}

# for df in used_df:
#     for col in df.iloc[:, 1:].columns:
#         if df[col].dtypes == df[data_umur_2018.columns[0]].dtypes: 
#             df[col] = df[col].apply(lambda x: str(x).replace(' ','').replace(',','.'))
#             df[col] = df[col].astype(float)

#     dict_umur["usia_dibawah_15"].append(sum(df.iloc[:3, -1:].values)[0])
#     dict_umur["usia_produktif"].append(sum(df.iloc[3:-4, -1:].values)[0])
#     dict_umur["usia_diatas_60"].append(sum(df.iloc[-4:, -1:].values)[0])

In [267]:
umur_df = pd.DataFrame(dict_umur)
for col in umur_df.columns:
    umur_df[col] = umur_df[col].astype(int)

umur_df["total"] = umur_df["usia_dibawah_15"] + umur_df["usia_produktif"] + umur_df["usia_diatas_60"]
umur_df["persentase_usia_dibawah_15"] = umur_df["usia_dibawah_15"] / umur_df["total"]
umur_df["persentase_usia_produktif"] = umur_df["usia_produktif"] / umur_df["total"]
umur_df["persentase_usia_diatas_60"] = umur_df["usia_diatas_60"] / umur_df["total"]
umur_df

,tahun,usia_dibawah_15,usia_produktif,usia_diatas_60,total,persentase_usia_dibawah_15,persentase_usia_produktif,persentase_usia_diatas_60
0,2018,70486,169774,24754,265014,0.265971,0.640623,0.093406
1,2019,70635,171536,25901,268072,0.263493,0.639888,0.096620
2,2020,66362,176999,26841,270202,0.245601,0.655062,0.099337
3,2021,66186,178297,28198,272681,0.242723,0.653867,0.103410
4,2022,66196,179916,29660,275772,0.240039,0.652409,0.107553

In [16]:
df_umur.to_csv("preprocessed_data/data_klasifikasi_umur2.csv", index=False)

## 3. Data penduduk tiap provinsi

In [22]:
penduduk_prov_18_19 = pd.read_excel("raw_data/data_penduduk//Jumlah Penduduk Menurut Provinsi di Indonesia 2018-2019.xlsx").iloc[:-1, :].sort_values(by=["Provinsi di Indonesia"]).reset_index(drop=True)
penduduk_prov_20_22 = pd.read_excel("raw_data/data_penduduk//Jumlah Penduduk Menurut Provinsi di Indonesia 2020-2022.xlsx").iloc[:-1, :].sort_values(by=["Provinsi di Indonesia"]).reset_index(drop=True)

old_prov = ["Kep. Bangka Belitung", "DKI Jakarta", "Kep. Riau", "DI Yogyakarta"]
new_prov = ["Bangka Belitung", "Jakarta Raya", "Riau", "Yogyakarta"]

penduduk_prov = penduduk_prov_18_19.merge(penduduk_prov_20_22, on="Provinsi di Indonesia")

In [23]:
old_prov = ["Kep. Bangka Belitung", "Aceh", "Kep. Riau", "DI Yogyakarta", "Nusa Tenggara Barat"]
new_prov = ["Bangka Belitung", "DI. ACEH", "Riau", "DAERAH ISTIMEWA YOGYAKARTA", "NUSATENGGARA BARAT"]

penduduk_prov["Provinsi di Indonesia"] = penduduk_prov["Provinsi di Indonesia"].replace(old_prov, new_prov)
penduduk_prov["Provinsi di Indonesia"] = penduduk_prov["Provinsi di Indonesia"].apply(lambda x: x.upper())
penduduk_prov.rename(columns={"Provinsi di Indonesia":"Provinsi"}, inplace=True)

In [24]:
penduduk_prov.to_csv("preprocessed_data\penduduk_per_provinsi_processed.csv", index=False)

## 4. Data clustering

In [43]:
data_ekonomi = pd.read_excel("raw_data/data_demografi/[Seri 2010] Produk Domestik Regional Bruto Per Kapita.xlsx")
data_humdev = pd.read_excel("raw_data/data_demografi/Indeks Pembangunan Manusia Menurut Provinsi, 2022.xlsx", decimal=',')
data_kemiskinan = pd.read_excel("raw_data/data_demografi/Jumlah dan Persentase Penduduk Miskin Menurut Provinsi, 2022.xlsx", decimal=',').dropna(axis=1)
data_faskes = pd.read_excel("raw_data/data_demografi/Jumlah Rumah Sakit Umum, Rumah Sakit Khusus, Puskesmas, Klinik Pratama, dan Posyandu Menurut Provinsi, 2020.xlsx")
data_fasped = pd.read_excel("raw_data/data_demografi/Kelurahan yang Memiliki Fasilitas Sekolah Menurut Provinsi, 2021.xlsx")
data_luas = pd.read_excel("raw_data/data_demografi\Luas Daerah dan Jumlah Pulau Menurut Provinsi, 2021.xlsx")

data_ekonomi = data_ekonomi[["Provinsi", "hb_2022", "hk_2022"]]
data_faskes = data_faskes.iloc[:, :-2].replace("...", 0)
data_fasped.columns = ["Provinsi", "kelurahan_jumlah_sd", "kelurahan_jumlah_smp", 
                       "kelurahan_jumlah_sma", "kelurahan_jumlah_smk", "kelurahan_jumlah_pt"]

In [44]:
old_prov_upper = ["ACEH", "KEP. BANGKA BELITUNG", "NUSA TENGGARA BARAT", "DI YOGYAKARTA", "KEP. RIAU"]
old_prov_cap = ["Aceh", "Kepulauan Bangka Belitung", "Nusa Tenggara Barat", "DI Yogyakarta"]

new_prov_geo = ["DI. ACEH", "BANGKA BELITUNG", "NUSATENGGARA BARAT", "DAERAH ISTIMEWA YOGYAKARTA", "KEPULAUAN RIAU"]

data_ekonomi["Provinsi"] = data_ekonomi["Provinsi"].replace(old_prov_upper, new_prov_geo)
data_humdev["Provinsi"] = data_humdev["Provinsi"].replace(old_prov_cap, new_prov_geo[:-1]).apply(lambda x: x.upper())
data_kemiskinan["Provinsi"] = data_kemiskinan["Provinsi"].replace(old_prov_cap, new_prov_geo[:-1]).apply(lambda x: x.upper())
data_faskes["Provinsi"] = data_faskes["Provinsi"].replace(old_prov_cap, new_prov_geo[:-1]).apply(lambda x: x.upper())
data_fasped["Provinsi"] = data_fasped["Provinsi"].replace(old_prov_cap, new_prov_geo[:-1]).apply(lambda x: x.upper())
data_luas["Provinsi"] = data_luas["Provinsi"].replace(old_prov_cap, new_prov_geo[:-1]).apply(lambda x: x.upper())

In [45]:
cluster_df = data_ekonomi.copy()

for df in [data_humdev, data_faskes, data_fasped, 
           data_kemiskinan[["Provinsi", "Persentase Penduduk Miskin - Maret"]],
           data_luas[["Provinsi", "Luas Wilayah (km2)"]], 
           penduduk_prov[["Provinsi", "2022"]]]:
    cluster_df = cluster_df.merge(df, on="Provinsi")

for col in cluster_df.columns:
    if col != "Provinsi" and cluster_df[col].dtypes == cluster_df["Provinsi"].dtypes: 
        cluster_df[col] = cluster_df[col].apply(lambda x: str(x).replace(' ','').replace(',','.'))
    if col != "Provinsi":
        cluster_df[col] = cluster_df[col].astype(float)

cluster_df.to_csv("preprocessed_data/cluster_data.csv", index=False)